<a href="https://colab.research.google.com/github/doyoun1355/ABCD-A/blob/20250310/20250310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
print("hello")

print('hello', 'everyone')
print('hello'+'everyone')
print('hello', end=' ')
print('test')

hello
hello everyone
helloeveryone
hello test

In [11]:
 a=123
 b='hello'
 print(a,b)
 print(a,456,b,'world')

123 hello
123 456 hello world

In [15]:
#print 함수 사용법 예제-1
print('hello "Python"')
print("hello 'Python'")
print('hello', 'Python!')
print('hello'+'Python!')

hello "Python"
hello 'Python'
hello Python!
helloPython!

In [17]:
#print 함수 사용법 예제-2
print("화면에 직접 출력")
print('ab\'c')
print("doesn't")
print('does')
print('doesn\'t')
print("'string'")
print("\"string\"")
print('"string"')

화면에 직접 출력
ab'c
doesn't
does
doesn't
'string'
"string"
"string"

In [18]:
#print 함수 사용법 예제-3
s1 = '화면에 직접 출력'
s2 = 'ab\'c'
s3 = 'does'
print(s1)
print(s2)
print(s3)
print(s1[0]) #첫 글자
print(s2[1]) #두번째 글자
print(s3[1:3])
print(s3[-1]) #마지막 숫자
print(s3[-2]) #뒤에서 두번째

화면에 직접 출력
ab'c
does
화
b
oe
s
e

In [20]:
#print 함수 사용법  - 숫자
a = 2
b = 3.14
c = a+b
print(a)
print(b)
print(c)
print(round(c,2))
print("%.2f"%(c))
print(a+b)
print(a,b,a+b,c)
d = 1e2
e = 1e-2
print(d)
print(e)

2
3.14
5.140000000000001
5.14
5.14
5.140000000000001
2 3.14 5.140000000000001 5.140000000000001
100.0
0.01

In [23]:
#print 함수 사용법 혼합
item1 = '사과'
price1 = 1000
item2 = '바나나'
price2 = 500
print(item1,price1)
print(item2,price2)

사과 1000
바나나 500

In [22]:
#print 함수 사용법 혼합
item1 = '사과'
price1 = 1000
item2 = '바나나'
price2 = 500
str1 = '{0}는 {1}원 입니다'
print(str1.format(item1,price1))
print(str1.format(item2,price2))

사과는 1000원 입니다
바나나는 500원 입니다

In [27]:
#print 함수 사용법 혼합
item1 = '사과'
price1 = 1000
item2 = '바나나'
price2 = 500
print(item1, price1, sep='*', end ='/')
print(item2, price2)

사과김치1000/바나나 500

In [28]:
#print 함수 사용법 혼합
item1 = '사과'
price1 = 1000
item2 = '바나나'
price2 = 500
str2 = '%s는 %d원입니다.'
print(str2%(item1, price1))
print(str2%(item2, price2))

사과는 1000원입니다.
바나나는 500원입니다.