<a href="https://colab.research.google.com/github/doyoun1355/ABCD-A/blob/20250406/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_%EC%9E%85%EB%A0%A5%EB%AC%B8%EA%B3%BC_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
 x = int(input("number : "))
 print(x)

number : 1
1

In [6]:
year = input("this year : ")
year = eval(year)
year = year + 1
print("Next year:" , year)

this year : 2025
Next year: 2026

In [ ]:
i = 0
result = 0
while i < 5:
	print(f'{i+1}번째', end = " ")
	a = input("성적 입력 : ")
	result += int(a)
	i += 1
	2
	print(f'합 : {result}')
	print(f'평균 : {result / 5}')

In [ ]:
test_list = ['one', 'two', 'three']
for i in test_list:
	print(i)

In [ ]:
for i in range(1, 10):
	print(i)

In [ ]:
result = 0
for a in range(1, 101): #1 ~ 100

	result = result + a
	print(f'{a} {result}')

print(result)

In [ ]:
result = 0
for a in range(1, 101):
	result = result + a
	print(f'{a} : sum = {result}')
	if result > 100:
			break

	print(result)

In [ ]:
index = 0
s = "BlockDMask"
for a in s:
	print(a, end=' ')
	if a == 'k':
		break

	index = index + 1

print(index)

In [ ]:
student = [180, 170, 164, 199, 182, 172, 177]
for a in student:
  if a > 170:

    continue

  print(a)

In [ ]:
result = 0
for a in range(1, 101):
	if a % 2 == 0:

		continue
	result = result + a

print(result)

In [ ]:
l = ['Alice' , 'Bob' , 'Charlie']

for name in l:
    if name == 'Bob':
        print('!!BREAK!!')
        break
    print(name)
else:
    print('!!FINISH!!')

In [ ]:
sr = ['father', 'mother', 'brother']
cnt = 0
for s in sr:
        for c in s:
            if c == 'r':
                cnt += 1
print(cnt)

In [ ]:
a = []

for i in range(10):
    a.append(0)

print(a)

In [ ]:
a = []

for i in range(3):
    line = []
    for j in range(2):
        line.append(0)
    a.append(line)

print(a)

In [ ]:
l = ['Alice', 'Bob', 'Charlie']

for name in l:
    print(name)

for i, name in enumerate(l):
    print(i, name)

In [ ]:
for i, name in enumerate(l, 1):
    print(i, name)

for i, name in enumerate(l, 42):
    print(i, name)

In [ ]:
print(list(range(0, 10, 3)))

In [ ]:
print(list(range(0, 10, -3)))

In [7]:
for i in range(0, 10, -3):
    print