<a href="https://colab.research.google.com/github/doyoun1355/ABCD-A/blob/20250328/%ED%8C%8C%EC%9D%B4%EC%8D%AC300%EC%A0%9C_11_14_%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
삼성전자 = 50000
주 = 10
print("총 평가금액",삼성전자*주)

총 평가금액 500000

In [11]:
a = '298조'
b = '50000원'
c = 15.79

print("시가총액 =",a)
print("현재가 =",b)
print("PER =",15.79)

시가총액 = 298조
현재가 = 50000원
PER = 15.79

In [12]:
s = 'hello!'
t = 'python'
print(s,t)

hello! python

In [14]:
a = 2
b = 3
print('2 + 2 * 3 =',a + a * b)

2 + 2 * 3 = 8